.header {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-direction: row;
    position: relative;
}

.imageContainer {
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.imageContainer img {
    width: 7.75rem;
}

.links {
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.link {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 1rem;
    transition: all 0.3s ease;
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
}

.link:hover {
    color: #66bcf4;
}

.link a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.active:before {
    background-color: #0077c8;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 1px;
}

.menuToggler {
    display: none;
    align-items: center;
    margin-right: 10px;
}

.menuToggler button {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 8px;
    width: 40px;
    font-size: 1.25rem;
    line-height: 1;
    background: none;
}

.menuToggler button:focus {
    outline: none;
}

.menuToggler span {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    display: block;
    margin: 4px 0 0 0;
}

@media screen and (max-width: 900px) {
    .menuToggler {
        display: flex;
    }

    .links {
        display: none;
        position: absolute;
        text-align: left;
        z-index: 10000;
        left: 0;
        top: 100%;
        width: 100%;
    }
    .links.open {
        display: block;
    }
    .link {
        display: block;
        background-color: #fff;
        padding: 0;
    }
    .link a {
        display: block;
        height: 100%;
        padding: 1.5rem 1rem;
    }
    .active {
        background-color: #66bcf4;
        color: #fff;
    }
    .active:before {
        display: none;
    }
}